@page
@model BloggieWeb.Pages.Admin.Blogs.ListModel
@{
}


<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Blog Posts</h1>
    </div>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Heading</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var blog in Model.BlogPosts)
            {
                <tr>
                    <td>@blog.id</td>
                    <td>@blog.Heading</td>
                    <td><a href="./edit/@blog.id">View</a></td>
                    <td><a href="">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>